.container {
    background-color: #DFDFDF;
    max-width: 10rem;
    max-height: 7rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.confirmBtns {
    display: flex;
    gap: 0.5rem;
}

.confirmBtns button {
    cursor: pointer;
}